@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Satisfy&display=swap');
:root {
    --tourazul: #464993;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #000000;
    /* background-color: #F9F9F9; */
    background: pink;
}

h3 {
    color: var(--tourazul);
}

h3.alt {
    color: #3A3A3A;
}

.navbar {
    height: 100px;
    background: #ffff;
    align-self: center;
}

.social {
    display: flex;
    color: var(--tourazul);
    font-size: 14px;
}

.social__icone img {
    width: 30px;
}

.social__texto {
    display: inline-block;
}

.banner_principal {
    margin: auto;
    width: 1200px;
    height: 440px;
    background: #3A3A3A url('../imagens/Fundo_banner_principal.jpg') center no-repeat;
    background-size: cover;
}

.filter {
    background: linear-gradient(45deg, #0b424180 0%, #2c0f0080 72%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_banner_main {
    padding: 30px;
    text-align: center;
    color: #ffff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    align-content: stretch;
}

.h3_banner {
    color: #ffff;
}

.banner_font_alt {
    font-size: 50px;
    line-height: 2px;
    font-family: 'Satisfy', cursive;
}

.botao_roxo {
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    color: #ffff;
    background-color: var(--tourazul);
    border-style: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s;
}

.botao_roxo span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botao_roxo span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.botao_roxo:hover span {
    padding-right: 25px;
}

.botao_roxo:hover span:after {
    opacity: 1;
    right: 0;
}